@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  display: none;
  opacity: 0;
}

body.no-scroll {
  overflow: hidden;
}

#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background: linear-gradient(270deg, #ED23FF 0%, #7523D9 100%);
  z-index: 9999;
  transition: width 0.1s ease-out;
}

#home{
    position: relative;
    top: -200px;
}

.ff{
    height: 5000px;
}

header{
    position: relative;
    margin: 0;
    height: 350px;
    background: linear-gradient(270deg, #ED23FF 0%, #7523D9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: header 4.5s ease;
}

@keyframes header {
    0% { height: 750px; }
    50% { height: 750px;}
    100% { height: 350px;}
}

header h1{
    width: 100%;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 6px;
    margin-left: 450px;
    margin-right: 450px;
    filter: drop-shadow( 3px 3px 4px #00000037);
    animation: h1-header 2s ease;
}

@keyframes h1-header{
    0% { opacity: 0; transform: translateY(20px);}
    100% { opacity: 1; transform: translateY(0);}
}

header .anim-list-header{
    width: 600px;
    height: 40px;
    background: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0 3px 10px #0000001a;
    overflow: hidden;
    border: 1px solid #eaeaea;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    animation: anim-list 4.5s ease;
}

@keyframes anim-list {
    0% { opacity: 0; transform: translate(-50%, 220px);}
    50% { opacity: 1; transform: translate(-50%, 200px);}
    100% { opacity: 1; transform: translate(-50%, 0);}
}

.anim-list-header .content{
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    height: 100%;
    align-items: center;
}

.anim-list-header .content .item{
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}

.anim-list-header .item::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    background: #f700ff;
}

.anim-list-header .item:nth-child(2n)::before {
    background: #d923c7;
}

.anim-list-header .item:nth-child(3n)::before {
    background: #d400ff;
}

.anim-list-header .item:nth-child(4n)::before {
    background: #a600bf;
}

.anim-list-header .item:nth-child(5n)::before {
    background: #ae00ff;
}

@keyframes scroll{
    0% { transform: translateX(600px);}
    100% { transform: translateX(-900px);}
}

.icon-bkg > i{
    color: #ffffff51;
    position: absolute;
    transition: all 0.6s ease;
    animation: i 4s ease;
}

@keyframes i {
    0% { opacity: 0;}
    70% { opacity: 0;}
    100% { opacity: 1;}
}

.icon-bkg i:nth-child(1){
    top: 50px;
    left: 50px;
    font-size: 80px;
    transform: rotate(20deg);
}

.icon-bkg i:nth-child(2){
    top: 100px;
    left: 1100px;
    font-size: 60px;
    transform: rotate(-20deg);
}

.icon-bkg i:nth-child(3){
    top: 200px;
    left: 1350px;
    font-size: 70px;
}

.icon-bkg i:nth-child(4){
    top: 200px;
    left: 200px;
    font-size: 50px;
    transform: rotate(20deg);
}

.icon-bkg i:nth-child(5){
    top: 100px;
    left: 350px;
    font-size: 60px;
    transform: rotate(20deg);
}

.icon-bkg i:nth-child(6){
    top: 50px;
    left: 1250px;
    font-size: 70px;
    transform: rotate(10deg);
}

.icon-bkg i:hover{
    transform: scale(1.05);
    color: #ffffff;
    filter: drop-shadow(4px 4px 10px #0000003f);
    cursor: pointer;
}

.nav{
    width: 100%;
    position: sticky;
    top: 5px;
    box-shadow: 0 0 10px #00000030;
    z-index: 9998;
}

.nav nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
    background: #ffffff;
}

.nav nav a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    font-family: "Geologica", sans-serif;
    transition: all 0.2s ease;
}

.nav nav a:first-child:hover{
    color: #7523D9;
}

.nav nav a:last-child:hover{
    color: #ED23FF;
}

.nav nav a:hover{
    background: #0000000c;
}

.nav nav div{
    display: flex;
    gap: 20px;
}

.nav nav div a:hover{
    color: #ED23FF;
}

.nav nav div a:first-child:hover{
    color: #ED23FF;
}

.about{
    position: static;
    padding: 50px;
    margin-bottom: 50px;
}

.about h1{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 3dvh;
    font-family: "Geologica", sans-serif;
    z-index: -1;
}

.about h1 i{
    color: #7523D9;
}

.about p{
    width: 600px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1px;
    font-style: normal;
    z-index: -1;
}

.about p span{
    color: #7523D9;
}

.img{
    position: absolute;
    top: 360px;
    right: 32px;
}

.html-section{
    position: relative;
    height: 100%;
}

.html-section h1, .css-section h1, .Js-section h1{
    text-align: center;
    width: 500px;
    font-size: 30px;
    font-family: "Geologica", sans-serif;
    padding: 10px;
    color: #ffffff;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(270deg, #ED23FF 0%, #7523D9 100%);
}

.html-section h1 i, .css-section h1 i, .Js-section h1 i{
    margin-right: 10px;
}

.html-section .n1, .css-section .n1, .Js-section .n1{
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding: 30px 0 0 60px;
    width: 700px;
}

.html-section .n1 span, .css-section .n1 span, .Js-section .n1 span{
    color: #7523D9;
}

.work-html, .work-css, .work-Js{
    position: absolute;
    top: 10px;
    right: 80px;
}

.work-html h2, .work-css h2, .work-Js h2{
    text-align: center;
    font-size: 30px;
    font-family: "Geologica", sans-seri;
    font-weight: 500;
}

.work-html .n2, .work-css .n2, .work-Js .n2{
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    width: 600px;
    text-align: center;
}

.html-section .code-box {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    font-family: Consolas, monospace;
    font-weight: 500;
    overflow-x: auto;
    white-space: pre;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gray{
    color: #8e8e8e;
}

.blue{
    color: cornflowerblue;
}

.html-section .work-html .h4-1{
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    text-align: center;
    width: 600px;
}

.html-section .possibility-html h2{
    text-align: center;
    font-size: 30px;
    font-family: "Geologica", sans-serif;
    margin-top: 70px;
    padding-bottom: 20px;;
}

.html-section .possibility-html h2 i{
    color: #ae00ff;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    bottom: -7px;
}

.html-section .possibility-html table{
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
}

.html-section .possibility-html table tr:first-child{
    font-weight: bold;
}

.html-section .possibility-html table td{
    border: 2px solid black;
    padding: 10px;
}

.css-section{
    position: relative;
    top: 50px;
}

.css-section .work-css .code-box{
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    font-family: Consolas, monospace;
    font-weight: 500;
    overflow-x: auto;
    white-space: pre;
    padding: 20px 0 20px 0;
}

.yellow{
    color: #ffce65;
}

.green{
    color: #abffab;
}

.green-2{
    color: green;
}

.red{
    color: #c58862;
}

.yellow-2{
    color: yellow;
}

.css-section .connect-css{
    position: relative;
    top: 50px;
}

.css-section .connect-css h3{
    width: 800px;
    text-align: center;
    font-size: 25px;
    font-family: "Geologica", sans-serif;
}

.css-section .connect-css table{
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    border-collapse: collapse;
    margin-left: 50px;
}

.css-section .connect-css table td{
    padding: 10px;
    font-size: 17px;
}

.css-section .connect-css table tr:first-child{
    font-weight: 600;
}

.css-section .connect-css table tr{
    border-bottom: 1.7px solid #ccc;
}

.css-section img{
    position: absolute;
    right: 10px;
    top: 400px;
}

.css-section .facts-css{
    width: 750px;
    position: relative;
    top: 60px;
}

.css-section .facts-css h4{
    width: 400px;
    text-align: center;
    font-size: 25px;
    font-family: "Geologica", sans-serif;
    margin-bottom: -10px;
}

.css-section .facts-css p{
    font-size: 20px;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: -1;
    margin-left: 50px;
    border-left: 4px solid #a600bf;
    padding: 10px;
}

.Js-section{
    position: relative;
    top: 150px;
}

.Js-section .work-Js .code-box{
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    font-family: Consolas, monospace;
    font-weight: 500;
    overflow-x: auto;
    white-space: pre;
    padding: 20px 0 20px 0;
}

.light-blue{
    color: #add8e6;
}

.possibility-Js h2{
    position: relative;
    top: 30px;
    text-align: center;
    width: 700px;
    font-size: 25px;
    font-family: "Geologica", sans-serif;
}

.possibility-Js table{
    position: relative;
    top: 30px;
    left: 50px;
    width: 800px;
    border-collapse: collapse;
    font-size: 17px;
    font-family: "Geologica", sans-serif;
}

.possibility-Js tr:first-child{
    font-weight: bold;
}

.possibility-Js td{
    border-bottom: 2px solid #cdcdcd;
    padding: 10px;
}

.Js-section img{
    position: absolute;
    right: 100px;
    top: 420px;
}


footer{
    background: linear-gradient(270deg, #37073b 0%, #200740 100%);
    height: 300px;
    width: 100%;
    position: relative;
    top: 200px;
}

footer h1{
    text-align: center;
    font-family: "Inter", sans-serif;;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    padding: 50px;
    width: 400px;
    color: #ffffff;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 25px;
    color: #ffffff;
    font-family: "Geologica", sans-serif;
}

footer p{
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    opacity: 0.2;
    color: #fff;
}